<footer class="footer navbar-fixed-bottom">
    <div class="row">
        <div class="text-center">
            Copyright © 2014-2016 Pham Nguyen Co. Ltd.- All rights reserved.
        </div>
        <div class="text-center">
            <a href="https://twitter.com" class="btn btn-twitter btn-social" data-toggle="tooltip" data-placement="top" title="Twitter Account"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com" class="btn btn-facebook btn-social" data-toggle="tooltip" data-placement="top" title="Facebook Page"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com" class="btn btn-gplus btn-social" data-toggle="tooltip" data-placement="top" title="Google+ Profile"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>
</footer>
