@import "~styles.scss";

/* style for message error */

input.ng-valid,
input.ng-prestine,
input.ng-invalid {
    border-left: $input-border-left !important;
    border: $input-border;
}

input.ng-valid {
    border: $input-border;
    background-color: $white-background;
}

// input.ng-invalid {
//     border: 1px solid red;
// }

.err-message {
    font-size: 18px;
    color: red;
}
