/* You can add global styles to this file, and also import other style files */

$color-nav-default: white;
$color-nav: #3399ff;
$nav-bg: #333333;
$nav-border: #2d89ef;

body {
    margin-top: 50px;
    margin-bottom: 50px;
}
